<!DOCTYPE html>
<html>
    <head>
        <title>WebSocket Test</title>
        <link rel="shortcut icon" href="#">
        <link rel="modulepreload" href="/static/engine.js" />
        <link rel="modulepreload" href="/static/gamesocket.js" />
        <link rel="modulepreload" href="/static/mapping.js" />
        <link rel="modulepreload" href="/static/windowevents.js" />
        <link rel="modulepreload" href="/static/imagehandler.js" />
        <link rel="modulepreload" href="/static/render.js" />

        <style>
            html, body {
                margin: 0 !important;
                padding: 0 !important;
                overflow: hidden;
            }
        </style>
    </head>
    <body style="width: 100vw; height: 100vh">
        <script src="/static/script.js" type="module"> </script>
        <canvas id="gamewindow">
    </body>
</html>
